<%- include('partials/header') %>
    <%- include('partials/navbar') %>
        <h1>Characters in MongoDB Database</h1>
        <ul>
            <% charactersMongoDB.forEach( function(character){ %>
                <li>
                    <%=character._id%>
                        <%=character.name%>
                            <%=character.height%>
                                <%=character.mass%>
                                    <%=character.__v%>
                </li>
                <% }) %>
        </ul>
        </body>

        </html>